{% extends "template/base.html" %}

{% block content %}
{% include "template/menu.html" %}

<h2>Lista de Recursos</h2>

<a class="waves-effect waves-light btn" href="{% url 'nuevoRecurso' %}"><i class="material-icons right">library_add</i>Agregar</a>

{% if object_list %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Id</td>
			<td>Titulo</td>
			<td>Subtitulo</td>
			<td>Descripción</td>
			<td>Autor</td>
			<td>Valoración</td>
			<td>Tipo</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
		{% for consultaRecurso in object_list %}
		<tr>
			<td>{{ consultaRecurso.id_recurso }}</td>
			<td>{{ consultaRecurso.titulo.upper }}</td>
			<td>{{ consultaRecurso.sub_titulo }}</td>
			<td>{{ consultaRecurso.descripcion }}</td>
			<td>{{ consultaRecurso.autor }}</td>
			<td>{{ consultaRecurso.valoracion }}</td>
			<td>{{ consultaRecurso.tipo }}</td>
			<td>
				<a class="btn waves-effect waves-light" href="{% url 'recursoEditar' pk=consultaRecurso.id_recurso %}"><i class="material-icons right">edit</i>Editar</a>
				<a class="btn waves-effect waves-light" href="#"><i class="material-icons right">delete</i>Inhabilitar</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
			<p><h2>No Existen Datos para Mostrar!</h2></p>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
	</li>
	<li>
		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">Next</a>
		{% endif %}
	</li>
</ul>
{% endblock %}
