{% extends "template/base.html" %}

{% block content %}
{% include "template/menu.html" %}

<div class="container">
<form method="post">
{% csrf_token %}

<div class="row">
	<div class="input-field col s6">
		<i class="material-icons prefix">account_circle</i>
          <input id="first_name" type="text" class="validate" name="first_name">
          <label for="first_name">Nombre:</label>
	</div>
</div>

<div class="row">
	<div class="input-field col s6">
		<i class="material-icons prefix">perm_identity</i>
          <input id="last_name" type="text" class="validate" name="last_name">
          <label for="last_name">Apellidos:</label>
	</div>
</div>

<div class="row">
	<div class="input-field col s6">
		<i class="material-icons prefix">group</i>
          <input id="username" type="text" class="validate" name="username">
          <label for="last_name">Nombre de Usuario:</label>
	</div>
</div>

<div class="row">
	<div class="input-field col s6">
		<i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Correo Electrónico:</label>
	</div>
</div>

<div class="row">
	<div class="input-field col s6">
		<i class="material-icons prefix">done</i>
          <input id="password1" type="text" class="validate" name="password1">
          <label for="password1">Contraseña:</label>
	</div>
</div>

<div class="row">
	<div class="input-field col s6">
		<i class="material-icons prefix">done_all</i>
          <input id="password2" type="text" class="validate" name="password2">
          <label for="password2">Repetir Contraseña:</label>
	</div>
</div>

<button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>
{% endblock %}
